.App {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: #282c34;
}

.panel {
    flex: 20%;
    background-color: #282c34;
}

.work-area {
    flex: 80%;
    background-color: #f0f0f0;
}
